main {
  display: flex;
  padding: 23px 0;
  max-width: 1200px;
  margin: 50px auto;
}
.float-cart {
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  z-index: 2;
}
.float-cart-value {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  bottom: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eabf01;
  color: black;
  font-size: 0.7rem;
  font-weight: 600;
}
