main {
  display: flex;
  padding: 20px 2%;
  max-width: 1200px;
  margin: 50px auto 0;
}
.float-cart {
  position: fixed;
  top: 0rem;
  right: 0rem;
  padding: 0.5rem 1.2rem;
  background-color: #1b1a20;
  cursor: pointer;
}
.float-cart-value {
  color: white;
  text-align: center;
}
